* {
  margin: 0;
  padding: 0;
}
body {

  background-color: white;
  margin: 0px;
  min-height: 100vh;
}

nav ul {
  background-color:#E6F2FF ;
  font-style: none;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 60px;
}

nav a {
  font-size: 24px;
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: #D0E3FF;
}

nav li:first-child {
  margin-right: auto;
}

.navside {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgb(255, 255, 255.);
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}
nav{
background-color: #5D4037;
}

.sidebar a {
  width: 100%;
}

.sidebar li {
  width: 100%;
}
#menu_bar{
  display:none;
}



#box1 {
  color: black;
  background-color:#FAF9EE;
  width: 100%;
  height: 300px;
  text-align: center;
}

#head1 {
  font-size: 48px;
}

#head2 {
  margin-top: 20px;
  font-size: 32px;
}

#buts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.but {
  height: 60px;
  width: 100px;
  font-size: 24px;
  background-color: #88B0A8;
  border-radius: 15%;
  text-decoration: none;
}
#button3{
background-color: #e74c3c;
height: 60px;
width: 100px;
border-radius: 10%;
margin-top: 20px;
font-size: 24px;
}

#knowmore,#offer {
  text-decoration: none;
  color: black;
}

#about {
  position: relative;
  height: 300px;
  background-color:#E6F2FF;
  width: 100%;
  color: black;
  text-align: center;
  /* margin-top: -20px; */
}

.offer-section {
  display: flex;
  gap: 20px;
  padding: 20px;
  color: #222222;
  font-size: 24px;
}

.offer-sidebar {
  width: 150px;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff9e6;

}

.offer-sidebar a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.offer-sidebar a:hover {
  color: red;
}

.offer-content {
  flex: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.offer-box {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff9e6;
  border-left: 4px solid blue;
  border-radius: 5px;
}

#guru {
  height: 400px;
  width: 100%;
  background-color:  #EEEEEE;
  padding-top: 20px;
}

#guruh1 {
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
}

#gurudes {
  font-size: 28px;
  text-align: start;
  padding-left: 10px;
  text-align: center;
  padding-top: 20px;
}
#button3{
  background-color: #6A8D85;
}


#guids {
  text-align: center;
  font-size: 32px;

}

.sidebar {
  display: flex;
  overflow-x: auto;
  background-color:#DCCFC0;
  padding: 40px;
  gap: 20px;
  justify-content: start;
  border-radius: 10%;
}

.ites {
  flex: 0 0 auto;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teacher-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  box-shadow: 2px 2px 6px rgba(31, 10, 218, 0.15);
  background-size: cover;

}

.teacher-info {
  text-align: center;
  font-size: 20px;
  color: #222222;
}
#one {
 
  background-image:url("image/362099356_837450201060130_2445204979076554837_n.jpg");
}

#two {

    background-image: url("image/492199159_605914289141297_1656336585011041324_n.jpg");
}

#three {
   background-image: url("image/484916447_1049942270497313_4494814904008496651_n.jpg");
}

#four {
    background-image: url("image/484571581_1049941127164094_3562779509814638473_n.jpg");
  
}

#five {
  background-image: url("image/473856036_122137081826385629_7375590993534184094_n.jpg");
}

#six {
  background-image: url("image/94892082_1455120171333855_6544163805453090816_n.jpg");
}

#seven {
  /* background-image: url("image/hq720.jpg"); */
  background-image: url("image/475981202_1361958541828309_4593807078001971610_n.jpg");
}

#eight {
  background-image: url("image/491391609_122217063950155342_6136058566296793478_n.jpg");
}

#nine {
  background-image: url("image/491967140_993853546266317_9065328507035366076_n.jpg");
}

#ten {
  background-image: url("image/485111102_2566118207052415_4213465458008615072_n.jpg");
}
#eleven{
  background-image: url("image/WhatsApp Image 2025-07-26 at 8.32.51 AM.jpeg");
}

#indeximage {
  width: 100%;

}
@media (max-width: 800px) {
  .hideonPhone {
    display: none;
  }
  #menu_bar{
  display:block;
}

}

@media (max-width: 400px) {
  .navbar {
    width: 100%;
  }
  #guru{
    height: 600px;;
  }
  #about{
    height:400px;
  }

}
@media (max-width: 540px) {
  
  #guru{
    height: 600px;;
  }

}

#but4{
  height:60px;
  width: auto;
  background-color:white;
  border: none;
  font-size: 16px;
}
.but4{
  background-color:none ;
}
@media (max-width: 670px) {
  
  #box1{
    height:500px;
  }
  #about{
    height:450px;

  }

}
